/public/img/color
# Vagrant project files
.vagrant
/Vagrantfile*

# IntelliJ project files
.idea
*.iml


### Laravel template
/bootstrap/compiled.php
/vendor
/node_modules
.env

/data


/README.md
/tech

