html {
	font-size:100%;
}
body { 
	font:300 87.5%/1.28571428 "Open Sans", sans-serif;
	background:#f3f3f3;
	color:#393939;
}
.clear {
	display:block;
	clear:both;
}
.left {
	display:block;
	float:left;
}
.right {
	display:block;
	float:right;
}
.none {
	display:none;
}
.cent {
	text-align:center;
}
.wide {
	width: 100%;
}
b {
	font-weight:600;
}
p {
	margin-bottom:15px;
}
a {
	color:#ff8130;
	text-decoration:underline;
	transition-duration: 0.5s;
    transition-property: color;
    transition-timing-function: ease;
}
a:hover {
	color: #f66000;
	text-decoration:none;
}
/*a:focus,
a:active {
	color:#1050dc;
	text-decoration:none;
}*/
a:focus,
input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
	outline:0 none;
}
h1,
h2 {
	margin:0 0 27px;
	font-weight: 300;
	font-size:24px;
	line-height:1;
	color:#fc8e47;
	text-align: center;
}
h1 {
	margin-bottom: 2px;
	font-size: 30px;
	color: #181818;
	font-weight:normal;
}
.index-page h1 {
	margin-bottom: 16px;
	font-weight: bold;
	font-size: 28px;
	color:#fc8e47;
}
.index-page h2 {
	font-weight:bold;
}
.button {
	padding:6px 8px 8px;
	display:block;
	color:#f3f3f3;
	font-size:13px;
	line-height:1;
	text-decoration:none;
	cursor:pointer;
	background:#fc8e47;
	border:2px solid #fc8e47;
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	border-radius: 4px;
	transition-duration: 0.5s;
    transition-property: background-color, color, border-color;
    transition-timing-function: ease;
}
.button:hover {
	color: #fc8e47;
	background-color: transparent;
}
.button:active {
	color:#c77;
	border-color:#dbdbdb;
	background-color:#dbdbdb;
}
.button.cent {
	padding-right: 0;
	padding-left: 0;
}
input[type=text],
input[type=password],
textarea {
	display:block;
	padding:5px 10px;
	width:100%;
	height:30px;
	line-height:30px;
	font-size:14px;
	color: #939393;
	font-weight: 300;
	font-family: "Open Sans", sans-serif;
	background-color: #fff;
	border:1px  solid #e4e4e4;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	transition-duration: 0.35s;
    transition-property: border-color;
    transition-timing-function: ease;
}
textarea {
	height:200px;
	line-height:18px;
}
input[type=text]:hover,
input[type=password]:hover,
textarea:hover {
	border-color: #cbcbcb;
}
input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
	border-color:#ff8130;
}
::-webkit-input-placeholder {
	color:#939393;
}
::-moz-placeholder {
	color:#939393;
}
:-moz-placeholder {
	color:#939393;
}
:-ms-input-placeholder {
	color:#939393;
}
input[type=submit],
button {
	display: block;
	padding:8px 10px;
	cursor:pointer;
	background:none;
	border:2px solid #f49c64;
	font-weight: normal;
	font-size: 18px;
	line-height: 1;
	color: #fc8e47;
	text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	transition-duration: 0.5s;
    transition-property: background-color, color;
    transition-timing-function: ease;
}
input[type=submit]:hover,
button:hover {
	background: #f49c64;
	color: #fff;
}
button.mfp-arrow:hover,
button.mfp-close:hover {
	background: none;
}
.imageRight {
	float:right;
	margin:0 0 10px 15px;
}
.imageRight img {
	width:100%;
}

header {
	margin-bottom: 43px;
	padding-top: 15px;
	border-bottom: 1px solid #e4e4e4;
	background: #fff;
}
.index-page header {
	margin-bottom: 0;
}
.logo {
	margin-bottom: 10px;
	padding-top: 2px;
	line-height: 1;
}
.logo a {
	text-decoration: none;
	color: #555;
	font-size: 20px;
	font-weight: 500;
}
.logo .text {
	margin-left: 13px;
	padding-top: 27px;
	width: 200px;
}
.logo b {
	display: block;
	clear: both;
	margin-bottom: -2px;
	font-size: 35px;
	text-transform: uppercase;
	color: #1649b9;
	letter-spacing: 0.9px;
}
.logo b span {
	color: #ff6c0e;
}
.logo .text > span {
	display: block;
	margin-bottom: -7px;
	font-size: 25px;
}
.phone {
	margin-bottom: 21px;
	padding-top: 13px;
	font-size: 16px;
	line-height: 1;
}
.phone span {
	color: #b5b5b5;
}
.phone a {
	margin-right: -2px;
	padding-left: 43px;
	background: url(/img/ico/phone.png) 0 1px no-repeat;
	font-size: 35px;
	text-decoration: none;
}
.search {
	position: relative;
	margin-bottom: 15px;
}
.search input[type=text] {
	padding:0 9px;
	width: 294px;
	height:33px;
	line-height:30px;
	color: #696f74;
	font-weight: normal;
	font-size: 13px;
}
.search input[type=submit] {
	position: absolute;
	top: 2px;
	right: 2px;
	padding: 0;
	width: 29px;
	height: 29px;
	background: url(/img/ico/search20.png) 50% 5px no-repeat;
	border:0 none;
}
.search input[type=submit]:hover {
	background-position: 50% -35px;
}
.search.page {
	margin-bottom: 30px;
}
.search.page input[type=text] {
	padding-left: 15px;
	padding-right: 46px;
	width: 100%;
	height: 46px;
	line-height: 46px;
	color: #696f74;
	font-size: 18px;
}
.search.page input[type=submit] {
	width: 42px;
	height: 42px;
	background-image: url(/img/ico/search30.png);
}
.cart {
	margin-bottom: 15px;
	color: #939393;
	font-size: 16px;
	line-height: 1;
}
.cart .layer {
	padding: 13px 15px 15px 127px;
	background: #fff url(/img/ico/cart/bg.png) 15px 30px no-repeat;
	border:1px  solid #e4e4e4;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.cart .title {
	display: block;
	float: left;
	margin-bottom: 10px;
	font-weight: bold;
	text-transform: uppercase;
}
.cart.empty .title {
	margin-bottom: 7px;
}
.cart b {
	display: block;
	font-weight: normal;
	color: #424649;
	margin-bottom: 10px;
	padding-top: 1px;
	font-size: 18px;
}
.cart.empty b {
	margin-bottom: 5px;
	padding-top: 7px;
	font-size: 13px;
	line-height: 10px;
}
.cart .button {
	font-weight: 400;
}

.nav {
	height:20px;
	font-weight: 400;
	font-size: 16px;
	line-height: 1;
}
.nav ul {
	height: 40px;
	background: #fff; 
	border-bottom: 3px solid #e4e4e4;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px; 
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.05); 
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.05); 
	box-shadow: 0 0 5px rgba(0,0,0,.05);
}
.nav li {
	display: block;
	float: left;
	width: 16.666667%;
	height: 37px;
	border-left: 1px solid #f3f3f3;
}
.nav li:first-child {
	border-left: none;
}
.nav a:hover {
	color: #ff8130;
}
.nav a,
.nav .active a {
	display: block;
	padding: 10px 0 11px;
	text-align: center;
	color: #393939;
	text-decoration: none;
	border-bottom: 3px solid #e4e4e4;
}
.nav .active a {
	border-bottom-color: #ffc797;
}

section {
	
}

.categories {
	padding-top: 49px;
	background: #b2a99e url(/img/empty-room.jpg) 0 100% no-repeat;
}
.categories .block {
	margin-bottom: 30px;
}
.categories a {
	display: block;
	position: relative;
	overflow: hidden;
	height: 256px;
	text-decoration: none;
	font-size: 22px;
	line-height: 1;
	border: 2px solid rgba(0,0,0,0.1);
	transition-duration: 0.5s;
    transition-property: border-color;
    transition-timing-function: ease;
}
.categories a:hover {
	border-color: rgba(0,0,0,0.4);
}
.categories img {
	display: block;
	width: 100%;
}
.categories span {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 15px;
	width: 100%;
	background: rgba(0, 0, 0, .65);
	transition-duration: 0.5s;
    transition-property: background-color;
    transition-timing-function: ease;
}
.categories a:hover span{
	background: rgba(0, 0, 0, .8);
}

.aboutCompany {
	margin-bottom: 25px;
	padding-top: 24px;
}
.aboutCompany p {
	margin-bottom: 9px;
	text-align: center;
}
.aboutCompany b {
	font-weight: 500;
}

.advantages {
	padding: 30px 0 9px;
	font-size: 16px;
	line-height: 1;
	background: #fff;
}
.advantages .block {
	margin-bottom: 20px;
	text-align: center;
}
.advantages img {
	display: block;
	margin: 0 auto 16px;
	width: 100%;
	max-width: 120px;
}
.advantages b {
	display: block;
	clear: both;
	margin-bottom: 6px;
}

.index-page .catalog {
	padding-top: 26px;
}

.product { 
	margin-bottom: 30px;
	background: #fff; 
	border:1px solid #fc8e47;
	font-size: 13px;
	line-height: 19px;
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	border-radius: 4px;
	transition-duration: 0.5s;
    transition-property: border-color;
    transition-timing-function: ease;
}
.product:hover {
	border-color: #ff8130;
}
.product img {
	display: block;
	width: 100%;
	-webkit-border-radius: 3px 3px 0 0; 
	-moz-border-radius: 3px 3px 0 0; 
	border-radius: 3px 3px 0 0;
}
.product .layer {
	padding: 9px 15px 11px;
}
.product .category {
	color: #939393;
	font-size: 12px;
	line-height: 1;
}
.product .category:hover {
	color: #f49c64;
}
.product .title {
	clear: both;
	margin-bottom: 15px;
	padding-top: 9px;
	line-height: 1;
}
.product .title a {
	font-size: 16px;
}
.price {
	position: relative;
	font-weight: 400;
	color: #6fa9ff;
}
.product .price {
	top: -1px;
	display: block;
	float: right;
	padding-right: 16px;
	font-size: 20px;
}
.product .price:after {
	content: '';
	position: absolute;
	top: 4px;
	right: 0;
	width: 11px;
	height: 14px;
	background: url(/img/ico/rub.png) 0 0 no-repeat;
}
.product .params {
	color: #636363;
}
.product .params span {
	font-weight: 400;
}
.toCart {
	position: relative;
	padding:7px 0 9px 43px;
	background: #fc8e47 url(/img/ico/cart/tocart.png) 5px 4px no-repeat;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 1;
	-webkit-border-radius: 0 0 2px 2px; 
	-moz-border-radius: 0 0 2px 2px; 
	border-radius: 0 0 2px 2px;
	transition-duration: 0.5s;
    transition-property: background-color;
    transition-timing-function: ease;
}
.toCart:hover {
	background-color: #ff8130;
}
.toCart .counter {
	position: absolute;
	top: 0;
	right: 1px;
	width: 40px;
}
.toCart .counter input[type=text] {
	margin-top: 2px;
	padding: 0 17px 0 5px;
	height: 29px;
	line-height: 29px;
	background: none;
	border-color:#fc8e47;
	text-align: right;
	color: #fff;
	font-weight: normal;
	-webkit-border-radius: 0 0 4px 0; 
	-moz-border-radius: 0 0 4px 0; 
	border-radius: 0 0 4px 0;
	transition-duration: 0.5s;
    transition-property: background-color;
    transition-timing-function: ease;
}
.toCart .counter:hover input[type=text] {
	background: rgba(0,0,0,.15);
}
.toCart .manage {
	position: absolute;
	top: 6px;
	right: 5px;
}
.toCart .manage .plus,
.toCart .manage .minus {
	position: relative;
	display: block;
	clear: both;
	margin-bottom: 1px;
	width: 11px;
	height: 10px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.toCart .manage .plus:after,
.toCart .manage .minus:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -4px 0 0 -3px;
	width: 0;
	height: 0;
	border-style: solid;
	transition-duration: 0.5s;
    transition-property: border-color;
    transition-timing-function: ease;
}
.toCart .manage .plus:after {
	border-width: 0 4px 8px 4px;
	border-color: transparent transparent #ffd4b8 transparent;
}
.toCart .manage .minus:after {
	border-width: 8px 4px 0 4px;
	border-color: #ffd4b8 transparent transparent transparent;
}
.toCart .manage .plus:hover:after {
	border-color: transparent transparent #fff transparent;
}
.toCart .manage .minus:hover:after {
	border-color: #fff transparent transparent transparent;
}

.features {
	background: #fff;
	color: #555;
	font-size: 12px;
	line-height: 14px;
}
.features {
	padding-top: 26px;
}
.features h2 {
	margin-top: 0;
}
.features .block {
	overflow: hidden;
	margin-bottom: 30px;
	border: 1px solid #f3f3f3;
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	border-radius: 4px;
	transition-duration: 0.5s;
    transition-property: border-color, color;
    transition-timing-function: ease;
}
.features .block:hover {
	border-color: #cbcbcb;
	color: #393939;
}
.features .image {
	float: left;
	padding-right: 15px;
	width: 50%;
}
.features img {
	display: block;
	width: 100%;
	max-width: 268px;
}
.features span {
	display: block;
	float: left;
	padding:26px 30px 20px 15px;
	width: 50%;
}
.features span b {
	display: block;
	margin-bottom: 15px;
	color: #393939;
	font-weight: normal;
	font-size: 20px;
	line-height: 1;
}

.sertificates {
	padding-top: 26px;
}
.sertificates .fake {
	float: left;
	width: 6.25%;
	min-height: 1px;
}
.sertificates .block {
	float: left;
	margin-bottom: 30px;
	padding: 0 15px;
	width: 12.5%;
}
.sertificates a {
	overflow: hidden;
	display: block;
	border:1px solid #fc8e47;
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	border-radius: 4px; 
	transition-duration: 0.5s;
    transition-property: border-color;
    transition-timing-function: ease;
}
.sertificates a:hover {
	border-color: #ff6c0e;
}
.sertificates a:hover img {
	opacity: 1;
}
.sertificates img {
	display: block;
	width: 100%;
	opacity: 0.8;
	transition-duration: 0.5s;
    transition-property: opacity;
    transition-timing-function: ease;
}

.contact {
	position: relative;
	z-index: 100;
	font-size: 16px;
	line-height: 19px;
}
#map {
	position: relative;
	width: 100%;
	height: 432px;
	z-index: 100;
}
.contact .content {
	position: absolute;
	left:0;
	top: 0;
	width: 100%;
	height: 0;
	z-index: 101;
}
.contact .block {
	padding: 46px 30px 0;
	height: 432px;
	background: rgba(255,255,255,0.85);
}
.contact h2 {
	margin: 0 0 23px;
}
.contact .item {
	margin-bottom: 15px;
	padding-left: 45px;
	background-repeat: no-repeat;
	background-position: 0 50%;
}
.contact .location{
	background-image: url(/img/ico/contact/location.png);
}
.contact .phone {
	margin-bottom: 25px;
	padding-bottom: 5px;
	background-image: url(/img/ico/contact/phone.png);
	background-position: 0 11px;
}
.contact .phone a {
	padding-left: 0;
	margin-right: 0;
	text-decoration: underline;
	font-size: 26px;
	line-height: 1;
	background: none;
	font-weight: normal;
}
.contact .phone a:hover {
	text-decoration: none;
}
.contact .mobile {
	padding-top: 6px;
	padding-bottom: 22px;
	background-image: url(/img/ico/contact/mobile.png);
	background-position: 0 0;
}
.contact .mobile a {
	font-size: 26px;
}
.contact .time {
	margin-bottom: 28px;
	background-image: url(/img/ico/contact/time.png);
}
.contact .mail {
	background-image: url(/img/ico/contact/mail.png);
}

footer {
	padding:11px 0 25px;
	background: #636363;
	color: #b5b5b5;
}
footer .folder {
	margin-bottom: 15px;
	padding-top: 27px;
	line-height: 1.5;
}
footer .folder .title {
	position: relative;
	margin-bottom: 9px;
	padding-bottom: 15px;
	width: 100%;
	font-weight: normal;
	font-size: 16px;
	line-height: 1;
	color: #cbcbcb;
	text-transform: uppercase;
	border-bottom: 1px solid #595959;
}
footer .folder .title:after {
	content: '';
	position: absolute;
	bottom:0;
	left:0;
	width: 100%;
	height: 1px;
	background: #6d6d6d;
}
footer .folder .block {
	float: left;
	width: 100%;
}
footer .folder .block.w50 {
	width: 50%;
}
footer .folder a {
	display: block;
	float: left;
	clear: both;
	margin-bottom: 4px;
	color: #fff;
	text-decoration: none;
}
footer .folder a:hover {
	color: #ff8130;
}

footer .phone {
	margin-bottom: 18px;
	padding-top: 0;
}
footer .phone span.right {
	margin-bottom: 4px;
}
footer .phone a {
	padding:5px 0 3px 40px;
	font-size: 26px;
	font-weight: normal;
}
footer .mobile {
	margin-bottom: 27px;
	font-size: 26px;
}
footer .mobile a {
	padding-left: 21px;
	background: url(/img/ico/mobile.png) 0 6px no-repeat;
	text-decoration: none;
}
footer .phone a:hover,
footer .mobile a:hover {
	color: #ffebdf;
}

footer .search input[type="text"] {
	width: 221px;
	border-color:#444;
	background: none;
	color: #393939;
}
footer .search input[type="text"]:hover {
	border-color: #333;
}
footer .search input[type="text"]:focus {
	border-color: #fc8e47;
	color: #b5b5b5;
}

footer .cart {
	padding-top: 13px;
}
footer .cart .layer {
	padding: 14px 15px 15px 15px;
	background:#545454;
	border-color:#707070;
}
footer .cart .title {
	margin-bottom: 24px;
}
footer .cart.empty .title {
	margin-bottom: 18px;
}
footer .cart .title:hover {
	color: #ffebdf;
}
footer .cart b {
	color: #fff;
	margin-bottom: 21px;
	padding-top: 10px;
}
footer .cart.empty b {
	margin-bottom: 10px;
	padding-top: 17px;
	font-size: 14px;
	line-height: 1;
}


footer .copyright {
	position: relative;
	padding-top:18px;
	border-top: 1px solid #6d6d6d;
	font-size: 12px;
	color: #939393;
}
footer .copyright:after {
	content: '';
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 1px;
	background: #595959;
}
footer .copyright a {
	color: #939393;
}
footer .copyright a:hover {
	color: #ff8130;
}

.breadcrumbs {
	margin-bottom: 21px;
	font-size: 0;
	line-height: 1;
	text-align: center;
}
.breadcrumbs a {
	display: inline-block;
	font-size: 12px;
	color: #b5b5b5;
}
.breadcrumbs span {
	display: inline-block;
	margin: 0 10px -1px;
	width: 11px;
	height: 7px;
	font-size: 12px;
	background: url(/img/breadcrumb.png) 0 0 no-repeat;
}

.menu .island {
	padding: 0;
}
.island {
	margin-bottom: 30px;
	padding: 25px 30px 11px;
	background: #fff;
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	border-radius: 4px; 
}
.island h2 {
	margin-bottom: 23px;
	color: #393939;
}
.island p {
	line-height: 17px;
}
.menu .title {
	margin-bottom: 9px;
	padding:12px 14px 13px;
	border-bottom: 1px solid #dbdbdb;
	font-weight: normal;
	font-size: 20px;
	line-height: 1;
	color: #555;
	text-transform: uppercase;
}
.menu .category .title {
	margin-bottom: 9px;
}
.menu .category {
	padding-bottom: 9px;
}
.menu .category ul {
	display: block;
	font-size: 18px;
	line-height: 1;
	font-weight: bold;
}
.menu .category a {
	position: relative;
	display: block;
	padding: 7px 20px 9px;
	text-decoration: none;
}
.menu .category .active {
	position: relative;
}
.menu .category .active:after {
	content: '';
	position: absolute;
	left: 100%;
	top: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 17px 0 17px 17px;
	border-color: transparent transparent transparent #ffdfca;
}
.menu .category .active a {
	background: #ffeee3;
	color: #555;
}

.filter {
	color: #555;
}
.filter .block {
	margin: 0 20px 10px;
	padding: 6px 0 12px;
	border-bottom: 1px solid #f3f3f3;
}
.filter .last {
	border:0 none;
}
.filter .delimiter {
	border-color: #b5b5b5;
}
.filter .rus {
	margin-bottom: 8px;
	font-weight: 600;
}
.filter .fields {
	margin-bottom: 7px;
}
.filter .line {
	float: left;
}
.filter .signature {
	display: block;
	float: left;
	padding-top: 2px;
}
.filter .fields input {
	float: left;
	margin: 0 10px;
	padding: 0 5px;
	width: 62px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	font-weight: normal;
	color: #555;
}
.filter .ed {
	padding-top: 2px;
}
.filter .slider {
	position: relative;
	margin-bottom: 3px;
	height: 15px;
	z-index: 100;
}
.filter .slider:after {
	content: '';
	position: absolute;
	top: 8px;
	left: 0;
	width: 100%;
	height: 3px;
	background: #dbdbdb;
	z-index: 100;
}
.filter .slider div {
	position: absolute;
	bottom: 4px;
	height: 3px;
	background: #f49c64;
	z-index: 110;
}
.filter .slider span {
	position: absolute;
	bottom: 0;
	display: block;
	margin-left: -6px;
	width: 11px;
	height: 15px;
	cursor: pointer;
	z-index: 110;
}
.filter .slider span:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 1px;
	height: 11px;
	background: #f49c64;
}
.filter .slider span:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -4px;
	width: 9px;
	height: 4px;
	background: url(/img/ico/slider-handle.png) 50% 50% no-repeat;
}
.filter .range {
	position: relative;
	height: 20px;
	font-weight: normal;
	font-size: 10px;
	color: #b5b5b5;
}
.filter div.min,
.filter div.max {
	position: absolute;
	top: 0;
}
.filter div.min {
	left: 0;
}
.filter div.max {
	right: 0;
}
.filter .step {
	display: none;
}

.bigheight {
	height: 14px;
}
.productView {
	overflow: hidden;
	margin-bottom: 30px;
	padding: 0;
}
.productView img {
	display: block;
	width: 100%;
}
.productView .big {
	position: relative;
	height: 349px;
	overflow: hidden;
}
.productView.onlyone .big {
	height: auto;
}
.productView .big a,
.cartList .image .view-big {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 45px;
	height: 45px;
	background: rgba(0,0,0,.3) url(/img/ico/view-big/image.png) 50% 50% no-repeat;
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	border-radius: 4px; 
	transition-duration: 0.5s;
    transition-property: background-color;
    transition-timing-function: ease;
}
.productView .big a:hover,
.cartList .image .view-big:hover {
	background-color: rgba(0,0,0,.7)
}
.productView .preview {
	position: relative;
	padding:14px 0 15px;
}
.productView .overlay {
	overflow: hidden;
	margin: 0 43px;
	padding:1px 0;
}
.productView .offSlider .overlay {
	margin: 0;
}
.productView .row {
	margin: 0 -6px;
}
.productView .offSlider .row {
	margin: 0;
}
.productView .move {
	position: relative;
	left: 0;
	width: 30000px;
}
.productView .offSlider .move {
	width: 100%;
}
.productView .block {
	float: left;
	padding: 0 7px;
	width: 124px;
	opacity: .7;
	transition-duration: 0.5s;
    transition-property: opacity;
    transition-timing-function: ease;
}
.productView .offSlider .block {
	width: 25%;
}
.productView .block.active {
	position: relative;
	top: -1px;
	padding: 0 6px;
	opacity: 1;
}
.productView .block img {
	display: block;
	margin: 0 auto;
	max-width: 110px;
	cursor: pointer;
	border: 1px solid #f49c64;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px; 
}
.productView .block.active img {
	max-width: 112px;
	border-width: 2px;
	border-color: #ff8130;
}
.productView .preview span {
	position: absolute;
	top: 14px;
	display: block;
	width: 30px;
	height: 80px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 50% 24px;
}
.productView .back {
	left: 5px;
	background-image: url(/img/ico/slider/back.png);
}
.productView .next {
	right: 5px;
	background-image: url(/img/ico/slider/next.png);
}
.productView .preview span:hover {
	background-position: 50% -56px;
}
.productView .preview.offSlider span {
	display: none;
}

.productInfo {
	padding: 13px 15px 0;
}
.productInfo .text {
	margin-bottom: 22px;
	line-height: 16px;
}
.productInfo .text p {
	margin-bottom: 10px;
}
.productInfo .column {
	float: left;
	margin-bottom: 15px;
	padding: 0 15px;
}
.productInfo .title {
	display: block;
	margin-bottom: 8px;
	color: #636363;
	line-height: 1;
}
.productInfo .params {
	width: 29%;
	line-height: 20px;
}
.productInfo .color {
	width: 35%;
}
.color {
	color: #636363;
	font-size: 13px;
	line-height: 1;
}
.color .title {
	font-size: 14px;
}
.color .item {
	overflow: hidden;
	position: relative;
	margin-bottom: -1px;
	cursor: pointer;
	border: 1px solid #fff;
	z-index: 100;
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px; 
	border-radius: 2px; 
	transition-duration: 0.5s;
    transition-property: color, border-color;
    transition-timing-function: ease;
}
.color .item:hover {
	color: #fc8e47;
	border-color: #e4e4e4;
	z-index: 101;
}
.color .active,
.color .active:hover {
	border-color: #ff6c0e;
	color: #181818;
	z-index: 102;
}
.color .active:hover {
	cursor: default;
}
.color .preview {
	position: relative;
	display: block;
	float: left;
	overflow: hidden;
	width: 31px;
	height: 31px;
	z-index: 110;
}
.color .preview:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(/img/ico/view-big/color.png) 50% 5px no-repeat;
	z-index: 112;
}
.color .preview:hover:after {
	background-position: 50% -24px;
}
.color img {
	display: block;
	z-index: 111;
}
.color .label {
	margin-left: 32px;
	padding-left:10px;
}
.color span {
	display: table-cell;
	height: 31px;
	vertical-align: middle;
}
.productInfo .forCart {
	width: 36%;
}
.productInfo .price {
	top: -4px;
	margin-bottom: 7px;
	padding-right: 26px;
	font-size: 34px;
	line-height: 1;
}
.productInfo .price:after {
	content: '';
	position: absolute;
	top: 6px;
	right: 0;
	width: 17px;
	height: 24px;
	background: url(/img/ico/rub.png) 0 -40px no-repeat;
}
.productInfo .toCart {
	margin-bottom: 12px;
	padding-right: 43px;
	padding-left: 50px;
	background-position: 11px 13px;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px; 
}
.productInfo .toCart .counter {
	top: 8px;
	right: 5px;
}
.productInfo .articul {
	text-align: right;
	color: #939393;
}
.productInfo .value {
	font-weight: normal;
}

.delivery p,
.payment p {
	color: #181818;
}

.contact.Map {
	overflow: hidden;
	padding: 0;
}
.contact.Map #map {
	margin-bottom: 10px;
	height: 400px;
}
.contact.Map .location {
	padding:8px 20px 6px 61px;
	background-position: 20px 0;
	font-size: 18px;
}

.contact.Info {
	
}
.contact.Info h2 {
	margin-bottom: 7px;
	font-weight: 600;
	text-align: left;
}
.contact.Info span {
	display: block;
	clear: both;
	padding-top: 5px;
	font-weight: 300;
	font-size: 14px;
	line-height: 1;
}
.contact.Info .phone {
	margin-bottom: 10px;
	line-height: 26px;
	background-position: 0 26px;
}
.contact.Info .mobile {
	margin-bottom: 2px;
	line-height: 26px;
	background-position: 0 19px;
}
.contact.Info .time {
	margin-bottom: 23px;
	background-position: 0 1px;
}
.contact .help {
	padding-top: 8px;
	color: #939393;
	font-size: 15px;
	line-height: 1.2;
}
.contact .partner {
	margin-bottom: 2px;
	padding-top: 12px;
	padding-bottom: 12px;
	background-image: url(/img/ico/contact/partner.png);
	font-weight: normal;
}

.form.island {
	padding-top: 30px;
	padding-bottom: 0;
}
.form .field {
	width: 100%;
}
.form input[type=text] {
	height: 40px;
	line-height: 40px;
}
.form input[type=submit] {
	width: 100%;
}
.form .help {
	overflow: hidden;
	margin-bottom: 10px;
	padding: 5px 11px 0;
	height: 20px;
	font-size: 12px;
	line-height: 1;
	color: #cbcbcb;
}

.feedback textarea {
	height: 109px;
}

.cartList {
	
}
.cartList .colNames,
.priceDelivery .colNames {
	margin-bottom: 15px;
	padding-top: 1px;
	padding-bottom: 5px;
	border-bottom: 1px solid #dbdbdb;
	color: #b5b5b5;
}
.cartList .col {
	position: relative;
	float: left;
	padding: 0 15px;
	min-height: 1px;
}
.cartList .Photo {
	position: relative;
	padding-top: 4px;
	padding-bottom: 4px;
	width: 21.6%;
	z-index: 100;
}
.cartList .Name {
	width: 24%;
	font-weight: normal;
	font-size: 16px;
	line-height: 1;
}
.cartList .Color {
	width: 17%;
}
.cartList .Price {
	width: 11%;
}
.cartList .Count {
	position: relative;
	width: 9.5%;
}
.cartList .TotalPrice {
	width: 12%;
	text-align: right;
}
.cartList .colNames .TotalPrice {
	padding-right: 30px;
}
.cartList .delete {
	width: 4.9%;
}
.cartList .block,
.priceDelivery .block {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #b5b5b5;
}
.cartList .Photo img {
	display: block;
	width: 100%;
	max-width: 216px;
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	border-radius: 4px; 
}
.cartList .image {
	position: relative;
	min-width: 35px;
	min-height: 35px;
}
.cartList .image .view-big {
	left: 50%;
	top: 50%;
	margin: -22.5px 0 0 -22.5px;
}
.vertical {
	display: table;
}
.vertical .children {
	display: table-cell;
	vertical-align: middle;
}
.cartList .price {
	display: inline;
	padding-right: 16px;
	font-size: 20px;
	line-height: 1.2;
}
.cartList .price:after {
	content: '';
	position: absolute;
	top: 8px;
	right: 0;
	width: 11px;
	height: 14px;
	background: url(/img/ico/rub.png) 0 0 no-repeat;
}
.cartList .toCart {
	background: none;
	cursor: default;
	-webkit-border-radius: 0; 
	-moz-border-radius: 0; 
	border-radius: 0;
}
.cartList .toCart .counter {
	right: auto;
	left: 15px;
	top: 50%;
	margin-top: -16px;
	width: 48px;
}
.cartList .toCart .counter input[type="text"] {
	background: none;
	color: #636363;
	border-color: transparent;
	text-align: left;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px
}
.cartList .toCart .counter:hover input[type="text"] {
	background: rgba(255,129,48,.05);
}
.cartList .toCart .counter input[type="text"]:focus {
	border-color: #fc8e47;
}
.cartList .toCart .manage .plus:after {
	border-color: transparent transparent #c4c4c4 transparent;
}
.cartList .toCart .manage .minus:after {
	border-color: #c4c4c4 transparent transparent transparent;
}
.cartList .toCart .manage .plus:hover:after {
	border-color: transparent transparent #fc8e47 transparent;
}
.cartList .toCart .manage .minus:hover:after {
	border-color: #fc8e47 transparent transparent transparent;
}
.cartList .delete {
	position: relative;
}
.cartList .delete span {
	position: absolute;
	right:15px;
	top: 50%;
	margin-top: -10px;
	width: 22px;
	height: 22px;
	background: url(/img/ico/delete.png) 0 0 no-repeat;
	cursor: pointer;
}
.cartList .delete span:hover {
	background-position: 0 -30px;
}
.cartList .total {
	margin: 0 3% 27px 0;
	padding-top: 17px;
	font-weight: normal;
	font-size: 30px;
	line-height: 1;
	text-align: right;
}
.cartList .total b,
.totalPrice b {
	position: relative;
	margin-left: 20px;
	padding-right: 30px;
	font-size: 36px;
	color: #fc8e47;
}
.cartList .total b:after,
.totalPrice b:after {
	content: '';
	position: absolute;
	top: 13px;
	right: 0;
	width: 20px;
	height: 26px;
	background: url(/img/ico/rub.png) 0 -80px no-repeat;
}

.calcDelivery {
	padding-top: 30px;
}
.calcDelivery .enterData {
	margin: 0 -30px 25px;
	padding: 0 30px;
	border-bottom: 1px solid #f3f3f3;
	color: #636363;
	font-weight: normal;
}
.calcDelivery span.label {
	float: left;
	padding: 7px 15px 0 0;
}
.calcDelivery .enterData input[type=text] {
	margin-right: 15px;
	padding-left: 7px;
	padding-right: 7px;
	width: 50px;
	height: 33px;
	line-height: 33px;
}
.calcDelivery .select {
	margin:0 28px 30px 0;
}

.select {
	padding-left: 1px;
	font-weight: 300;
}
.select .item {
	position: relative;
	float: left;
	margin-left: -1px;
	padding: 8px 18px 10px;
	color: #636363;
	font-size: 13px;
	line-height: 1;
	border: 1px solid #e4e4e4;
	cursor: pointer;
	z-index: 100;
}
.select .first {
	-webkit-border-radius: 2px 0 0 2px; 
	-moz-border-radius: 2px 0 0 2px; 
	border-radius: 2px 0 0 2px;
}
.select .last {
	-webkit-border-radius: 0 2px 2px 0; 
	-moz-border-radius: 0 2px 2px 0; 
	border-radius: 0 2px 2px 0;
}
.select .selected {
	cursor: default;
	color: #181818;
	border-color: #ff6c0e;
	z-index: 101;
}

.priceDelivery .col {
	position: relative;
	float: left;
	padding: 0 15px;
	width: 17%;
	min-height: 1px;
}
.priceDelivery .block {
	font-size: 16px;
}
.priceDelivery .Name {
	padding-top: 3px;
	width: 32%;
	font-size: 14px;
}
.priceDelivery span {
	padding-right: 29px;
	background: url(/img/ico/rub.png) 100% -122px no-repeat;
}
.priceDelivery .total {
	margin-bottom: 25px;
	padding:3px 5px 0 0;
	width: 83%;
	position: relative;
	text-align: right;
	font-size: 20px;
	font-weight: normal;
}
.priceDelivery .total b {
	display: block;
	position: absolute;
	left: 100%;
	top: 3px;
	margin-left: 24px;
	width: 17%;
	text-align: left;
	font-size: 24px;
	line-height: 1;
	font-weight: 600;
	
}
.priceDelivery .total span {
	padding-right: 31px;
	background-position:100% -144px;
}
.totalPrice {
	position: relative;
	margin: 0 -30px 19px;
	padding-top: 29px;
	height: 57px;
	border-top: 1px solid #f3f3f3;
	border-bottom: 1px dotted #b5b5b5;
	font-size: 30px;
	line-height: 1;
	font-weight: normal;
}
.totalPrice span {
	display: block;
	float: left;
	padding-left:27px;
	background:#fff;
}
.totalPrice b {
	position: absolute;
	top: 24px;
	right: 0;
	padding:0 60px 0 0;
	background: #fff;
}
.totalPrice b:after {
	top: 6px;
	right: 30px;
}